<!-- <div class="container"> -->
  <!-- <small *ngIf="errorMessage">{{ errorMessage }}</small> -->
  <!-- <div *ngIf="questions">
    <h1 class="alignCenter">{{ quizName }}</h1>
    <div *ngFor="let item of questions; index as i">
      <mat-card class="mat-elevation-z8 colorGrey">
        <mat-card-title>Question {{ i + 1 }} - {{ item.questionText }}</mat-card-title>
        <mat-card-content>
          <div class="answerBank">
            <mat-radio-group name="quizAnswers" (change)="radioChange($event)" aria-label="Select an option">
              <mat-radio-button value="{{ item.answers[0].answerLetter }}">{{ item.answers[0].answerLetter }}. {{ item.answers[0].answerText }}</mat-radio-button><br />
              <mat-radio-button value="{{ item.answers[1].answerLetter }}">{{ item.answers[1].answerLetter }}. {{ item.answers[1].answerText }}</mat-radio-button><br />
              <mat-radio-button value="{{ item.answers[2].answerLetter }}">{{ item.answers[2].answerLetter }}. {{ item.answers[2].answerText }}</mat-radio-button><br />
              <mat-radio-button value="{{ item.answers[3].answerLetter }}">{{ item.answers[3].answerLetter }}. {{ item.answers[3].answerText }}</mat-radio-button><br />
            </mat-radio-group>
          </div>
        </mat-card-content>
      </mat-card>
      <br /><br />
    </div>
    <button mat-raised-button color="primary" routerLink="/dashboard/presentation/{{ quizName }}">
      Return to Presentation
    </button>
  </div>
</div> -->


<div>
  <mat-card>
    <mat-card-title style="text-align: center; font-weight: lighter;" class="mat-headline">
      {{ quiz.name }}
    </mat-card-title>
    <mat-card-subtitle style="text-align: center; font-weight: lighter;">
      {{ quiz.description }}
    </mat-card-subtitle>

    <br>
    <!-- root mat card content -->
    <mat-card-content *ngIf="quiz.questions">
      <!-- flex-layout column -->
      <div fxLayout="column">

        <!-- Quiz form -->
        <form #quizForm="ngForm" (ngSubmit)="onSubmit(quizForm.value); quizForm.reset();">
          <div *ngFor="let question of quiz.questions">
            <mat-card class="mat-elevation-z8">
              <mat-card-content>

                <div fxLayout="column">
                  <!-- questions -->
                  <mat-list>
                    <div fxLayout="row" fxLayoutGap="10px">
                      <p>Question: </p>
                      <p>{{ question.text </p>
                    </div>
                  </mat-list>
                  <br>

                  <!-- answers -->
                  <div fxLayout="row" fxLayoutGap="10px">
                    <label>Answers:</label>
                    <div fxLayout="column" fxLayoutGap="10px">
                      <div *ngFor="let answer of question.answers" style="flex-direction: column;`">
                        <input [(ngModel)]="questions[question.id]" [checked]="questions[question.id]" value="{{answer.id}};{{answer.isCorrect}}" name="question{{question.id}}" type="radio" />
                          {{answer.text}}
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- mat card actions -->
          <br>
          <mat-card-actions>
            <button type="submit" fxFlex mat-raised-button color="warn">Submit</button>
          </mat-card-actions>
        </form>
        <!-- end form -->

      </div>
      <!-- end flex-layout column -->
    </mat-card-content>
    <!-- end root mat card content-->
  </mat-card>
  <!-- end root mat card -->

  <br><br><br>
  <div fxFlex fxLayoutAlign="end" style="width: 50%; margin: 0 auto;">
    <button mat-button color="primary" (click)="goBack()">Return to Presentation</button>
  </div>
</div>
