<div fxLayout="column">
    <mat-card class="mainCardColor">
      <mat-card-title>{{ quizName }}</mat-card-title>
      <mat-card-content>
        <p-carousel [value]="questions" numVisible="1">
          <ng-template let-item pTemplate="item">
            <div fxLayout="column" fxLayoutAlign="center center">
              <div fxFlex>
                <p>{{ item.questionNumber }}.  {{ item.questionText }}</p>
                <ul>
                  <li>{{ item.answers[0].answerLetter }}.  {{ item.answers[0].answerText }}</li>
                  <li>{{ item.answers[1].answerLetter }}.  {{ item.answers[1].answerText }}</li>
                  <li>{{ item.answers[2].answerLetter }}.  {{ item.answers[2].answerText }}</li>
                  <li>{{ item.answers[3].answerLetter }}.  {{ item.answers[3].answerText }}</li>
                </ul>
              </div>
            </div>
            <mat-card-actions>
              <button mat-raised-button type="submit">Submit Answer</button>
            </mat-card-actions>
            <mat-card-actions>
              <button mat-raised-button type="submit" (click)="returnToPresentation(quizName)">Back to Presentation</button>
            </mat-card-actions>
          </ng-template>
        </p-carousel>
      </mat-card-content>
    </mat-card>
  </div>
