<div class="container">
  <!-- <small *ngIf="errorMessage">{{ errorMessage }}</small> -->
  <div *ngIf="questions">
    <h1 class="alignCenter">{{ quizName }}</h1>
    <div *ngFor="let item of questions; index as i">
      <mat-card class="mat-elevation-z8 colorGrey">
        <mat-card-title>Question {{ i + 1 }} - {{ item.questionText }}</mat-card-title>
        <mat-card-content>
          <div class="answerBank">
            <mat-radio-group name="quizAnswers" (change)="radioChange($event)" aria-label="Select an option">
              <mat-radio-button value="{{ item.answers[0].answerLetter }}">{{ item.answers[0].answerLetter }}. {{ item.answers[0].answerText }}</mat-radio-button><br />
              <mat-radio-button value="{{ item.answers[1].answerLetter }}">{{ item.answers[1].answerLetter }}. {{ item.answers[1].answerText }}</mat-radio-button><br />
              <mat-radio-button value="{{ item.answers[2].answerLetter }}">{{ item.answers[2].answerLetter }}. {{ item.answers[2].answerText }}</mat-radio-button><br />
              <mat-radio-button value="{{ item.answers[3].answerLetter }}">{{ item.answers[3].answerLetter }}. {{ item.answers[3].answerText }}</mat-radio-button><br />
            </mat-radio-group>
          </div>
        </mat-card-content>
      </mat-card>
      <br /><br />
    </div>
    <button mat-raised-button color="primary" routerLink="/dashboard/presentation/{{ quizName }}">
      Return to Presentation
    </button>
  </div>
</div>
