.id-card {
  background-color: #649568;
}

mat-card-title {
  text-align: center;
  font-family: 'Righteous', cursive;
}

.login-card {
  background-color: #9ccc9c;
}

mat-card {
  text-align: center;
}

.submitButton {
  background-color: #2b5329;
  color: white;
  width: 100px;
}
mat-card-actions {
  width: 30%;
  margin: auto;
}
