.id-card {
  background-color: #9ccc9c;
}

mat-card-title {
  text-align: center;
}
.login-card {
  background-color: #649568;
}

mat-card {
  text-align: center;
}

.submitButton {
  background-color: #2b5329;
  color: white;
  width: 30%;
}
