<p>presentation works!</p>
<p>The presentation name is {{ presentationName }}.</p>

<div fxLayout="column">
  <mat-card>
    <mat-card-title>{{ presentationName }}</mat-card-title>
    <mat-card-content>
      <p-carousel [value]="presentation" numVisible="1">
        <ng-template let-item pTemplate="item">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxFlex>
              <img *ngIf="" src="./assets/presentations/rest-and-the-web/{{item.name}}.jpeg" alt="">
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </mat-card-content>
  </mat-card>
</div>
