<mat-dialog-content>
  <div fxLayout="column">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>
        {{ quizSummary.quizName }}
      </mat-card-title>
      <mat-card-subtitle style="font-weight: lighter; text-align: center;">
        Displaying Quiz Results for Employee: {{ employeeId }}
      </mat-card-subtitle>
      <br>
      <mat-card-content>
        <mat-card class="mat-elevation-z8">
          <div fxLayout="column" fxLayoutGap="10px">
            <mat-card-title style="text-align: center; font-weight: bold;">
              Score
              <div *ngIf="quizSummary.score > 90">
                <span>{{ quizSummary.score }}</span>
              </div>
              <div *ngIf="quizSummary.score < 90 && quizSummary.score >= 80">
                <span>{{ quizSummary.score }}</span>
              </div>
              <div *ngIf="quizSummary.score < 80 && quizSummary.score >= 70">
                <span>{{ quizSummary.score }}</span>
              </div>
              <div *ngIf="quizSummary.score < 70 && quizSummary.score >= 60">
                <span>{{ quizSummary.score }}</span>
              </div>
              <div *ngIf="quizSummary.score < 60">
                <span>{{ quizSummary.score }}</span>
              </div>
            </mat-card-title>
          </div>
        </mat-card>

        <br>
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div fxLayout="column" fxLayoutGap="10px" *ngFor="let answer of correctAnswers; let i = index">
              <div *ngIf="selectedAnswers[i].answerId !== answer.answerId">

                <!-- questions -->
                <mat-list>
                  <div fxLayout="row" fxLayoutGap="10px">
                    <p>Question: </p>
                    <p>{{ answer.questionText }}</p>
                  </div>
                </mat-list>
                <br>

                <!-- answer summary -->
                <label>Answers:</label>
                <p><mat-icon>clear</mat-icon> Selected answer: {{ selectedAnswers[i].answerText }}</p>
                <p><mat-icon>done</mat-icon> Correct answer: {{ answer.answerText }}</p>
              </div>
            </div>
          </mat-card-content>

        </mat-card>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button matDialogClose="confirm" color="primary">Confirm</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-dialog-content>
